.App {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
  width: 100%;
}

.left-section {
  grid-column: 1 / 2;
  padding: 20px 0 0 20px;
  max-height: 96vh;
}

.right-section {
  grid-column: 2 / 3;
  padding: 20px 20px 0 0;
  max-height: 96vh;
  overflow: auto;
}


@media (max-width: 600px) {

  .App {
    grid-template-columns: 100%;
    grid-template-rows: 70px 400px auto;
  }
  .left-section {
    grid-column: 1;
    grid-row: 1;
    padding: 5px;
  }

  .right-section {
    grid-column: 1;
    grid-row: 2 / 4;
    padding: 5px;
    max-height: 87vh;
  }
}