.current-weather {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  color: white;
  border: 1px solid black;
  opacity: .7;
  background-color: black;
  font-size: 36px;
  padding: 40px 40px 10px 40px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  font-size: 96px;
}

.large-icon {
  border: none;
  height: 80px;
  width: 80px;
}

.lower-section {
  display: flex;
  justify-content: space-between;  
}

.summary-text {
  font-size: 20px;
}

@media (max-width: 600px) {
  .current-weather {
    padding: 5px;
  }
}