.search-bar-section {
  /*margin-left: 5%;*/
  /*margin: 20px auto ;*/
  /*width: 100%;*/

}

.search-bar {
  height: 50px;  
  width: 80%;
  padding-left: 2%;
  background-color: black;
  opacity: .7;
  color: white;
  font-size: 36px;
  border: 1px solid black;
  outline: none;
  margin-top: 20px;


}

.search-bar::placeholder {
  color: white;
}