.welcome-screen {
  display: grid;
  grid-template-columns: 23% 60% 20%;
  grid-template-rows: 37% 26% 37%;
  background-image: url('../images/partly-cloudy.jpg');
  background-size: 100% 100vh;
  min-height: 100vh;
  width: 100%;

}

.welcome-block {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /*height: auto;*/
  background-color: black;
  opacity: .8;
}

.welcome-block input{
  width: 82%;
  margin: 20px 9%;
}

h1 {
  font-size: 64px;
  text-align: center;
}

.welcome-search {
  width: 100%;
  border: solid 3px #FFF;
}

.welcome-icon {
  height: 100px;
  margin: 20px 50px;
}

.welcome-icons {
  text-align: center;
}


